.about {
	&__main-title {
		display: inline-block;
		font-size: 3.6rem;
		line-height: 1;
	}
	&__main-text {
		font-weight: 400;
		margin-bottom: 3rem;
		&:last-child {
			margin-bottom: 5rem;
		}
	}
	& a {
		background-image: linear-gradient(to bottom, $orange 0%, $orange 100%);
		background-position: 0 50%;
		background-repeat: repeat-x;
		background-size: 0 0;
		color: $orange;
		font-weight: 500;
		transition: 0.25s;
		&:hover {
			background-size: 100% 100%;
			color: $off-white;
		}
	}
}

@media (min-width:800px) {
	.about {
		&__main-text:last-child {
			margin-bottom: 3rem;
		}
	}
}
