.about {
	&__main-title {
		display: inline-block;
		font-size: 2em;
		line-height: 1;
	}
	&__main-text {
		font-weight: 400;
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 2em;
		}
	}
	& a {
		background-image: linear-gradient(to bottom, $orange 0%, $orange 100%);
		background-position: 0 50%;
		background-repeat: repeat-x;
		background-size: 0 0;
		color: $orange;
		font-weight: 500;
		transition: 0.25s;
		&:hover {
			background-size: 100% 100%;
			color: $off-white;
		}
	}
}
