/* Social links */
.footer {
	animation: slideinbottom 0.6s cubic-bezier(0.4,0,0.1,1) 0.3s forwards;
	bottom: 0;
	height: 4em;
	left: 0;
	position: fixed;
	right: 0;
	transform: translateY(10em);
	&__social-item {
		display: inline-block;
		margin-right: 1em;
		margin-top: 0.8em;
		&:last-child {
			margin-right: 0;
		}
	}
	&__social-link {
		display: block;
	}
	&__social-icon {
		border-radius: 50%;
		box-shadow: 1px 1px 1px darken($mid-blue, 10%);
		fill: $off-white;
		height: 2.5em;
		transition: all 0.3s;
		width: 2.5em;
	}
	&__social-link:hover &__social-icon {
		box-shadow: 1px 5px 4px darken($mid-blue, 10%);
	}
}

@media(min-width: 800px) {
	.footer {
		animation: none;
		margin-top: 0.8em;
		position: relative;
		transform: none;
		&:before {
			background: $off-white;
			box-shadow: 1px 1px 1px darken($mid-blue, 10%);
			content: '';
			display: block;
			height: 3px;
			margin: 0.3em auto;
			width: 10em;
		}
		&__social-item {
			margin-right: 0.5em;
		}
		&__social-icon {
			height: 2.2em;
			width: 2.2em;
		}
	}
}
