.header {
	color: $off-white;
	padding: 3.5rem 0 2.5rem;
	text-align: center;
	text-shadow: 1px 1px 1px darken($mid-blue, 10%);
	&__title {
		font-size: 5rem;
		line-height: 0.9;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
		&:after {
			background: $off-white;
			box-shadow: 1px 1px 1px darken($mid-blue, 10%);
			content: '';
			display: block;
			height: 0.3rem;
			margin: 1rem auto;
			width: 20rem;
		}
	}
	/* Navigation */
	&__nav-list {
		font-weight: 500;
	}
	&__nav-item {
		display: inline-block;
		&:not(:last-child) {
			border-right: 1px solid;
		}
	}
	&__nav-link {
		opacity: 0.8;
		padding: 0 1.5rem;
		position: relative;
		&:after {
			background: $off-white;
			bottom: -5px;
			content: '';
			height: 1px;
			left: 1.5rem;
			opacity: 0;
			position: absolute;
			transform: scaleX(0);
			transition: all 0.4s;
			width: calc(100% - 3rem);
		}
		&:hover {
			opacity: 1;
		}
		&:hover:after {
			opacity: 1;
			transform: scaleX(1);
		}
		&--active {
			opacity: 1;
			pointer-events: none;
		}
	}
}
