.header {
	color: $off-white;
	padding: 2em 0 1em;
	text-align: center;
	text-shadow: 1px 1px 1px darken($mid-blue, 10%);
	&__image {
		display: none;
	}
	&__title {
		font-size: 2.5em;
		line-height: 0.9;
		margin-bottom: 0.3em;
		text-transform: uppercase;
		&:after {
			background: $off-white;
			box-shadow: 1px 1px 1px darken($mid-blue, 10%);
			content: '';
			display: block;
			height: 3px;
			margin: 0.3em auto;
			width: 4em;
		}
	}
	/* Navigation */
	&__nav-list {
		font-weight: 500;
	}
	&__nav-item {
		display: inline-block;
		&:not(:last-child) {
			border-right: 1px solid;
		}
	}
	&__nav-link {
		opacity: 0.8;
		padding: 0 1em;
		position: relative;
		&:after {
			background: $off-white;
			bottom: -5px;
			content: '';
			height: 1px;
			left: 1em;
			opacity: 0;
			position: absolute;
			transform: scaleX(0);
			transition: all 0.4s;
			width: calc(100% - 2em);
		}
		&:hover {
			opacity: 1;
		}
		&:hover:after {
			opacity: 1;
			transform: scaleX(1);
		}
		&--active {
			opacity: 1;
			pointer-events: none;
		}
	}
}

@media(min-width: 800px) {
	.header {
		bottom: 0;
		left: 0;
		padding: 2em 0;
		position: fixed;
		top: 0;
		width: 17em;
		&__image {
			border: 3px solid $off-white;
			border-radius: 50%;
			box-shadow: 1px 1px 1px darken($mid-blue, 10%);
			content: url(/assets/images/profile.jpg);
			display: inline-block;
			height: 8em;
			margin-bottom: 1em;
			width: 8em;
			&:hover {
				box-shadow: 1px 5px 4px darken($mid-blue, 10%);
			}
		}
		&__nav-item {
			display: block;
			&:not(:last-child) {
				border: 0;
			}
		}
	}
}
