/* Variables
======================================== */

/* Color variables */
$black: #333;
$dark-grey: #666;
$grey: #999;
$light-grey: #ccc;
$dark-blue: #2b3a42;
$mid-blue: #3f5765;
$light-blue: #bdd4de;
$off-white: #eaefec;
$orange: #ff530d;
