block pageData
	- var page = {}
	- page.path = '/projetos'
	- page.title = site.title

extends /templates/default.jade

block content
	main.home__main-area
		h1.home__main-title= 'Projetos'
		p.home__main-text.
			Nascido no Rio de Janeiro e formado em Sistemas da Computação pela UFF-RJ (Universidade Federal Fluminense), atualmente trabalho como desenvolvedor JavaScript Fullstack na Gazeus Games.
		p.home__main-text.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, debitis quas excepturi at, officiis sequi architecto asperiores obcaecati iusto. Beatae consequuntur quasi explicabo saepe nesciunt qui iste officiis sapiente. Provident.
		p.home__main-text.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus cupiditate labore, ea, atque vero libero magnam, nemo eaque at nisi veniam! Eos earum, possimus provident pariatur consectetur similique aliquid neque.
