article.about
	h1.about__main-title= 'Seja bem vindo!'
	hr.separator
	p.about__main-text.
		Olá, meu nome é #[strong Thiago Oliveira], nascido no Rio de Janeiro e formado em Sistemas da Computação pela UFF-RJ (Universidade Federal Fluminense), atualmente trabalho como desenvolvedor JavaScript na Gazeus Games.
	p.about__main-text.
		Comecei minha carreira como desenvolvedor #[em front-end], mas meu interesse por lógica de programação e a curiosidade de entender como a #[em Web] funciona por trás dos panos me levaram a me aprofundar em NodeJS. Como não poderia deixar de ser, adotei JavaScript como minha linguagem favorita e tento, a cada dia, me tornar um pouco melhor em seu uso.
	p.about__main-text.
		Mas quem me vê hoje desenvolvendo interfaces ou servidores de jogos mal pode imaginar que, antes de me aventurar nessa carreira, minha primeira formação foi em Jornalismo. Sim, eu sei que é uma migração incomum, mas nem sempre descobrimos nossa vocação de primeira, certo?  ¯\_(ツ)_/¯
	p.about__main-text.
		Você pode dar uma olhada nos projetos nos quais já trabalhei, ou dar uma conferida em assuntos aleatórios que passam pela minha mente durante esse processo louco de aprendizado/trabalho no blog. Fique à vontade para mandar um alô nas redes sociais ou pelo e-mail #[a(href='mailto:t.oliveira@outlook.com') t.oliveira@outlook.com]. Uma boa troca de ideias sempre é bem vinda.
